#bigContainer {
  perspective: 1000px;
  perspective-origin: 40% 400px;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#container {
  width: 2000px;
  position: relative;
  transform-style: preserve-3d;
}

#cubeWrapper {
  top: 200px;
  left: 200px;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: white;
  transform-style: preserve-3d;
}

.sides {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0.3
}

#front {
  background-color: rgb(27, 120, 201);
}


#back {
  background-color: rgb(211, 51, 30);

}

.star {
  /* background-color: white; */
  background-image: url("./Cube/star02.png");
  background-size: cover;
  width: 2px;
  height: 2px;
}


#top {
  background-color: blueviolet;
  transform-origin: top center;
}



#bottom {
  background-color: rgb(175, 53, 199);
  transform-origin: bottom center;

}


#left {
  background-color: rgb(115, 197, 61);
  transform-origin: center left;

}


#rigth {
  background-color: rgb(189, 179, 44);
  transform-origin: top right;

}