

.background{
  background-image: url("./img/back1.jpg");
  width: 100vw;
  height: 100vh;
  margin:0;
  background-size: cover;
  background-repeat: no-repeat;
}

.link{
  text-decoration: none;
  color:white;
  text-align: center;
  font-size: 24px;
}
.link:hover{
  text-decoration: none;
  color: #00CED1;
}

#bigContainer {
  perspective: 1000px;
  perspective-origin: 50% 400px;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#container {
  width: 2000px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center 50px;
}

#cubeWrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateY(100deg)
}

.sides {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url("./Cube/spaceshipText.jpg");

}

#front {
  transform: translateZ(-25px);
  background-size: cover;

}


#back {
  background-size: cover;

  transform: translateZ(25px);

}

#top {
  background-size: cover;
  transform-origin: top center;
  transform: translateZ(25px) rotateX(-90deg) translateX(0px);
}



#bottom {
  background-size: cover;
  transform-origin: bottom center;
  transform: rotateX(90deg) translateY(25px);

}


#left {
  background-size: cover;
  transform-origin: center left;
  transform: rotateY(270deg) translateX(-25px);

}


#rigth {
  background-size: cover;
  transform-origin: top right;
  transform: rotateY(270deg) translateX(25px);

}

.bullet {

  width: 5px;
  height: 5px;
  position: absolute;
  background-color: yellow;
}

.star {
  /* background-color: white; */
  background-size: cover;
  width: 4px;
  height: 4px;
  position: absolute;
  background-image: url("./Cube/star02.png");
}

.b {
  display: block;
  width: 150px;
  height: 50px;
  background-color: #3b4ba3;
  border-radius: 80%;
  position: absolute;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, .5);
  background-image: url("./Cube/img/textgold3.jpg");
}

button {
  margin: 5px
}
.planet {
  width: 200px;
  height: 200px;
  position: absolute;
  text-align:center;
  background-size: contain;
  background-repeat: no-repeat;
}